*{
    --bs-gutter-x: 1.5rem
}
.container{
    margin: 0 auto;
}

.hellotxt{
    position: absolute;
    top: 6rem;
    right: 3;
    font-size: 9em;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.342);
    z-index: -1;
    font-weight: bold;
}

body{
    background-color: #1D222A;
    color: antiquewhite;
}

.aboutme{
    padding-top: 10.5rem;
}

.f-name{
    text-decoration: underline;
    text-decoration-color: #00ADB5;
    text-underline-offset: 1rem;
}

.l-name{
    color: #00ADB5;
}

.p-description{
    padding: 1rem 1rem 0 0;
}