*{
    --bs-gutter-x: 1.5rem
}
.container{
    margin: 0 auto;
}

.hellotxt{
    /* position: absolute; */
    top: 6rem;
    right: 3;
    font-size: 15em;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.342);
    z-index: -1;
    font-weight: bold;
}

body{
    background-color: #1D222A;
    color: antiquewhite;
}

.aboutme{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 2rem;*/
}

.f-name{
    text-decoration: underline;
    text-decoration-color: #00ADB5;
    text-underline-offset: 1rem;
}

.l-name{
    color: #00ADB5;
}

.p-description{
    padding: 1rem 1rem 0 0;
}

.body-img-container{
    background: linear-gradient(30deg, rgb(34 40 49) 5%, rgb(0 212 255 / 0%) 100%);
    content: "";
    width: 15rem;
    height: 15rem;
    transform: rotate(-45deg);
    border-radius: 2rem;
    /* margin: 0 0 2rem 2rem;*/
  }

.john-img-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

  .john{
    width: 15rem;
    height: 15rem;
    rotate: 45deg;
  }

  .line {
    background-color: #00ADB5;
    margin: 1rem;
    width: 4px;
    height: 150px;
    border-radius: 4px;
}

.aboutme{
    position: relative;
}

.social {
    /* rotate: 90deg; */
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5rem;
    position: absolute;
    right: -6rem;
    top: -15rem;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.icon{
    width: 2rem;
    height: 2rem;
    color: #00ADB5;
}

.icons a {
    font-size: 25px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #1a89bc, #606966c5);
    color: linen;
    text-align: center;
    margin-bottom: 0.5rem;
    transition: 1s;
}

.icons a:hover {
    background: linear-gradient(45deg, #1a89bc, #606966c5);
    transform: rotate(360deg) scale(1.2);
}

/* Language: css */

/* Path: my-portfolio\src\components\css\footer.css */

.footer{
    background-color: #1D222A;
    color: antiquewhite;
    padding: 1rem 0 1rem 0;
}

.footer-text{
    text-align: center;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.follow{
    transform: rotate(90deg);
    margin-bottom: 25px;
}
.empty{
    margin-left: 17rem;
}

.quote{
    background-image: url(assets/BG.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.quote-text {
    /* font-size: 2rem; */
    font-weight: bold;
    /* text-align: center; */
    padding: 1rem;
}

.quote-text p{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 6rem;
}