body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  background-image: url(components/css/assets/bg1.png);
  background-size: cover;
}

.body-img-container{
  background-color: #00ADB5;
  content: "";
  position: absolute;
  width: 15rem;
  height: 15rem;
  transform: rotate(-45deg);
  top: 12rem;
  right: 10rem;
  border-radius: 2rem;
}